<div class="row">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title mb-4">My Profile</h2>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <strong>Username:</strong>
                    </div>
                    <div class="col-md-8">
                        <%= user.username %>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-md-8">
                        <%= user.email %>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4">
                        <strong>Role:</strong>
                    </div>
                    <div class="col-md-8">
                        <span class="badge bg-info"><%= user.role %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>